attrs==21.2.0
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
beanstalkc==0.1.0
boto3==1.18.59
botocore==1.21.59
certifi==2021.5.30
charset-normalizer==2.0.7
click==8.0.3
Cython==0.29.26
distlib==0.3.3
docopt==0.6.2
elasticsearch==7.14.0
ffmpeg-python==0.2.0
filelock==3.3.1
Flask==2.0.2
future==0.18.2
greenstalk==2.0.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
PDFNetPython3==9.1.0
pipreqs==0.4.11
platformdirs==2.4.0
protobuf==3.17.3
pycodestyle==2.7.0
pydub==0.25.1
pyliblo==0.10.0
pylive==0.2.1
PyMySQL==1.0.2
pyPdf==1.13
PyPDF2==1.26.0
pystalk==0.6.1
pystalkd==1.3.0
python-acrcloud==1.3
python-dateutil==2.8.2
PyYAML==6.0
redis==3.5.3
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
urllib3==1.26.6
virtualenv==20.8.1
Werkzeug==2.0.2
yarg==0.1.9
